.Chat-main
  .Chat-main__group-info
    .Group-top
      .Group-top__name
        test
      .Group-top__member
        Member: masa
    .Edit-btn
      =link_to "#" do
        edit
  .Chat-main__message-list
  .Chat-main__message-form