@mixin default-font {
  font-weight: bold;
  color: #ffffff;
}

.Side-bar {
  width: 300px;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
  }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2F3e51;
    overflow: scroll;
  }
}

.Top-items {
  @include default-font;
  height: 20px;
  width: 260px;
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  &__name {
    font-size: 16px;
  }

  &__icons {
    width: 60px;
  }

  &__btn {
    color:#ffffff;
    margin-left: 5px;
  }
}

.Group-contents {
  margin: 0px 20px;
  
  &__name {
    font-size: 15px;
    padding-top:20px;
    color: #ffffff;
  }

  &__comment {
    font-size: 11px;
    padding: 5px 0px 40px 0px;
    color: #ffffff;
  }
}