@import "reset";
@import "modules/messages";
@import "font-awesome-sprockets";
@import "font-awesome";

.wrapper {
  height: 100vh;
  display: flex;
}

.Side-bar {
  width: 300px;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
  }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2F3e51;
  }
}

.Top-items {
  margin: 0px 20px;
  height: 20px;
  width: 260px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  &__name {
    font-size: 16px;
  }

  &__icons {
    width: 60px;
    text-align: right;
  }

  &__btn {
    margin-left: 5px;
    color:#ffffff
  }
}

.Group-contents {
  color: #ffffff;
  font-weight: bold;
  margin: 0px 20px;
  
  &__name {
    font-size: 15px;
    padding-top:20px;
  }

  &__comment {
    font-size: 11px;
    padding: 5px 0px 40px 0px;
  }
}


.Chat-main {
  width: calc(100vw - 300px);
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
  }
  &__message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
  }  
}